<div class="funky-container">
  <div class="profile-container">
    <div class="profile-left">
      <% if current_user.avatar.url.nil? %>
        <%= image_tag 'avatar.jpg', alt: "avatar", class: "avatar-large" %>
      <% else %>
        <%= cl_image_tag current_user.avatar, alt: "avatar", class: "avatar-large" %>
      <% end %>
      <br>
      <div class="profile-form">
        <div class="funky-form">
          <h4>Edit your profile</h4>
          <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
            <%= f.error_notification %>

            <div class="form-inputs">
              <%= f.input :first_name,
                          required: true,
                          autofocus: true,
                          input_html: { autocomplete: "first name" } %>
              <%= f.input :last_name,
                          required: true,
                          autofocus: true,
                          input_html: { autocomplete: "last name" }%>
              <%= f.input :email, required: true, autofocus: true %>
              <%= f.input :city,
                          required: false,
                          autofocus: true,
                          input_html: { autocomplete: "city" }%>


              <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
                <p>Currently waiting confirmation for: <%= resource.unconfirmed_email %></p>
              <% end %>

              <%= f.input :current_password,
                          hint: "we need your current password to confirm your changes",
                          required: true,
                          input_html: { autocomplete: "current-password" } %>

              <%= f.input :avatar %>
              <%= f.input :avatar_cache, as: :hidden %>
            </div>

            <div class="form-actions">
              <%= f.button :submit, "Update", class: "funky-button" %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
    <div class= "profile-right">
      <h1>Hello, I'm <%= @user.first_name %></h1>
      <%= link_to 'See my bookings' %>
      <br>
      <%= link_to 'See my spaces' %>
      <hr>
      <div class="comments-form">
        <h3>Comments</h3>
        <h6>User's name</h6>
        <p>Text goes here.</p>
        <h6>User's name</h6>
        <p>Text goes here.</p>
        <h6>User's name</h6>
        <p>Text goes here.</p>
      </div>
      <hr>
      <h5>Cancel my account</h5>
      <p>Unhappy? <%= link_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete %></p>
      </div>
  </div>
</div>
<%= link_to "Back", :back %>

