<div class="funky-container">
  <h2>Where to book</h2>
  <div class="funky-cards-grid">
      <% @results.each do |space| %>
       <div class="funky-card-search">
       <%= cl_image_tag space.photo %>
         <div class="funky-card-search-info">
           <div>
             <h3><%= space.location %></h3>
             <h2><%= space.name %></h2>
             <p><%= space.capacity %></p>
             <p>$<%= space.price_per_hour %>/hour</p>
             <button class="funky-button-small"><%= link_to "View", space_path(space.id) %></button>
           </div>
         </div>
     </div>
    <% end %>
  </div>
  <div
  id="map"
  style="width: 100%;
  height: 600px;"
  data-markers="<%= @markers.to_json %>"
  data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"
></div>

  <br>
    <%= link_to 'Back', root_path %>
</div>
