<div class="banner-show" style="background-image: url(<%= cl_image_path @space.photo %>)"></div>
<div class="funky-container">
  <div class="funky-show-container">
    <div class="funky-card">
      <div class="funky-card-avatar">
        <h2><%= @space.name %></h2>
        <a><%= image_tag "avatar.jpg", class: "avatar" %></a>
      </div>
      <P><%= @space.location %></P>
      <hr>
      <h6>Capacity</h6>
      <p><%= @space.capacity %></p>
      <h6>Amenities</h6>
      <p><%= @space.amenities %></p>
      <hr>
      <p><%= @space.description%></p>
    </div>
    <div class="show-form">
      <div class="funky-show-form">
        <div class="show-form-top">
          <h2>$<%= @space.price_per_hour %> </h2>
          <p> per hour</p>
        </div>
        <p>Rating here</p>
        <p>Confirm the date</p>
        <%= simple_form_for [@space, @booking] do |f| %>
          <%= f.input :start_date%>
          <%= f.input :start_time%>
          <%= f.input :hours%>
          <%= f.button :submit, "Book now!", class: "funky-button-large" %>
        <% end %>
      <br>
    </div>
  </div>

