<h1>Spaces#show</h1>
<p>Find me in app/views/spaces/show.html.erb</p>
 <div class="funky-cards-grid">
     <div class="funky-card-search">
       <%= image_tag "banner2.jpg" %>
       <div class="funky-card-search-info">
         <div>
           <h3><%= space.location %></h3>
           <h2><%= space.name %></h2>
           <p>Rating here</p>
           <p><%= space.capacity %></p>
           <p>$<%= space.price %>/hour</p>
           <p><%= space.amenities %></p>
           <p><%= space.description%></p>
         </div>
   </div>
<br>
<br>
 <%= link_to 'Back', :back %>
