<div class="banner-show"></div>
<div class="funky-container">
  <div class="funky-show-container">
    <div class="funky-card">
      <div class="funky-card-avatar">
        <h2><%= @space.name %></h2>
        <a><%= image_tag "avatar.jpg", class: "avatar" %></a>
      </div>
      <P><%= @space.location %></P>
      <hr>
      <h6>Capacity</h6>
      <p><%= @space.capacity %></p>
      <h6>Amenities</h6>
      <p><%= @space.amenities %></p>
      <hr>
      <p><%= @space.description%></p>
    </div>
    <div class="show-form">
      <div class="funky-form">
        <h5>Confirm the date</h5>
        <p>Rating here</p>
        <p>$<%= @space.price_per_hour %></p>
      </div>
    </div>
    <br>
    <br>
  </div>
</div>
