<div class="funky-container">
  <h2>My Bookings</h2>
  <div class="funky-cards-grid">
    <% @bookings_for_my_events.each do |booking| %>
      <div class="funky-card-search">
        <h3><%= booking.space.name%></h3>
        <% if booking.status == "pending" %>
          <a class="pending"><%= booking.status%></a>
        <% elsif booking.status == "accepted" %>
          <a class="accepted"><%= booking.status%></a>
        <% elsif booking.status == "rejected" %>
          <a class="rejected"><%= booking.status%></a>
        <% end %>
        <%= cl_image_tag booking.space.photo %>
        <div class="funky-card-search-info">
          <div>
            <h4><%= booking.hours%> hours</h4>
            <h6><%= booking.start_date%></h6>
            <h6><%= booking.start_time%></h6>
          </div>
        </div>
      </div>
      <% end %>
  </div>
  <br>
  <hr>
  <br>
  <h2>Bookings on my spaces</h2>
  <a name="booked-spaces"></a>
  <div class="funky-cards-grid">
    <% @bookings_for_my_spaces.each do |booking| %>
      <div class="funky-card-search">
        <h3><%= booking.space.name%></h3>
        <% if booking.status == 'pending' %>
          <div class="confirm-links">
            <a><%= link_to "Accept", accept_booking_path(booking), method: :patch %></a>
            <a><%= link_to "Reject", reject_booking_path(booking), method: :patch %></a>
          </div>
        <% else %>
          <% if booking.status == 'accepted' %>
            <a class="accepted"><%= booking.status%></a>
          <% elsif booking.status == 'rejected' %>
            <a class="rejected"><%= booking.status%></a>
          <% end %>
        <% end %>
        <%= cl_image_tag booking.space.photo %>
        <div class="funky-card-search-info">
          <div>
            <h4><%= booking.hours%> hours</h4>
            <h6><%= booking.start_date%></h6>
            <h6><%= booking.start_time%></h6>
          </div>
        </div>
      </div>
      <% end %>
  </div>
</div>

