<div class="funky-container">
  <h1>My bookings</h1>
  <br>
  <hr>
  <br>
  <h2>Coming events</h2>
  <div class="funky-cards-grid">
    <% @bookings_for_my_events.each do |booking| %>
      <div class="funky-card-search">
        <h3><%= booking.space.name%>: <%= booking.status%></h3>
        <p><%= cl_image_tag booking.space.photo %></p>
        <div class="funky-card-searc-info">
          <h6><%= booking.start_date%></h6>
          <h4><%= booking.hours%> hours</h4>
        </div>
      <% end %>
      </div>
  </div>
  <br>
  <hr>
  <br>
  <h2>My spaces</h2>
  <div class="funky-cards-grid">
    <% @bookings_for_my_spaces.each do |booking| %>
      <div class="funky-card-search">
        <h3><%= booking.space.name%>
        <% if booking.status == 'pending' %>
          <button><%= link_to "Accept", accept_booking_path(booking), method: :patch %></button>
           <button><%= link_to "Reject", reject_booking_path(booking), method: :patch %></button>
        <% else %>
          <strong><h4><%= booking.status%></h4></strong>
        <% end %></h3>
        <br>
        <p><%= cl_image_tag booking.space.photo %></p>
        <div class="funky-card-searc-info">
          <h6><%= booking.start_date%></h6>
          <h4><%= booking.hours%> hours</h4>
        </div>
      <% end %>
      </div>
  </div>
</div>

