<div class="funky-container">
  <h2>My Bookings</h2>
  <div class="funky-cards-grid">
    <% @bookings_for_my_events.each do |booking| %>
      <div class="funky-card-search">
        <h3><%= booking.space.name%></h3>
        <% if booking.status == "pending" %>
          <p class="pending"><%= booking.status%></p>
        <% elsif booking.status == "accepted" %>
          <p class="accepted"><%= booking.status%></p>
        <% elsif booking.status == "rejected" %>
          <p class="rejected"><%= booking.status%></p>
        <% end %>
        <%= cl_image_tag booking.space.photo %>
        <div class="funky-card-search-info">
          <div>
            <h4><%= booking.hours%> hours</h4>
            <h6><%= booking.start_date%></h6>
            <h6><%= booking.start_time%></h6>
          </div>
        </div>
      </div>
      <% end %>
  </div>
  <br>
  <hr>
  <br>
  <h2>Bookings on my spaces</h2>
  <a name="booked-spaces"></a>
  <div class="funky-cards-grid">
    <% @bookings_for_my_spaces.each do |booking| %>
      <div class="funky-card-search">
        <h3><%= booking.space.name%></h3>
        <% if booking.status == 'pending' %>
          <div class="d-inline-flex">
            <p id="accept"><%= link_to "accept", accept_booking_path(booking), method: :patch %></p>
            <p id="reject"><%= link_to "reject", reject_booking_path(booking), method: :patch %></p>
          </div>
        <% else %>
          <% if booking.status == 'accepted' %>
            <p class="accepted"><%= booking.status%></p>
          <% elsif booking.status == 'rejected' %>
            <p class="rejected"><%= booking.status%></p>
          <% end %>
        <% end %>
        <%= cl_image_tag booking.space.photo %>
        <div class="funky-card-search-info">
          <div>
            <h4><%= booking.hours%> hours</h4>
            <h6><%= booking.start_date%></h6>
            <h6><%= booking.start_time%></h6>
          </div>
        </div>
      </div>
      <% end %>
  </div>
</div>

