<div class="banner" style="background-image: url(<%= image_path 'banner1.jpg' %>)">
  <div class="funky-container" >
    <div class="landing-form">
      <form action="/spaces/search" method="GET" class="funky-form">
        <h2>Book awesome event spaces.</h2>
        <label>Where</label>
        <input name="location" type="text" class="form-control">

        <label>When</label>
        <div class="form-when">
          <input name="date" type="date" class="form-control">
          <input name="time" type="time" class="form-control">
        </div>
        <label>Duration</label>
        <select name="duration" class="form-control">
          <option value="2 hours">2 hours</option>
          <option value="4 hours">4 hours</option>
          <option value="8 hours">8 hours</option>
          <option value="12 hours">12 hours</option>
          <option value="24 hours">24 hours</option>
          <option value="Whole weekend">Whole weekend</option>
        </select>
        <label>Capacity</label>
        <select name="capacity" class="form-control">
          <option value=""></option>
          <option value="less than 20">less than 20</option>
          <option value="20 to 50">20 to 50</option>
          <option value="50 to 100">50 to 100</option>
          <option value="100 to 200">100 to 200</option>
          <option value="200 to 500">200 to 500</option>
          <option value="500+">500+</option>
        </select>
        <div>
          <button value="Search" class="funky-button">Search</button>
        </div>
      </form>
    </div>
  </div>
</div>
<div class="funky-container">
  <h2>Spaces all over the world</h2>
  <div class="funky-cards-grid">
    <% @home_spaces.each do |space| %>
      <%= link_to space_path(space) do %>
       <div class="funky-card-search">
          <%= cl_image_tag space.photo, crop: :fill %>
          <div class="funky-card-search-info">
           <div>
             <h3><%= space.location %></h3>
             <h2><%= space.name %></h2>
             <p>Rating here</p>
           </div>
        </div>
      </div>
      <% end %>
    <% end %>
  </div>
</div>
