 <h2>Your reservation details</h2>
  <p><%= @booking.space.name%></p>
  <p><%= cl_image_tag @booking.space.photo %></p>
  <p>Start date & time: <%= @booking.start_date%>, <%= @booking.start_time%></p>
  <p><%= @booking.hours%> /hours</p>

  <h4>Your total price is $<%= @booking.total_price%>.</h4>
 <form action="/spaces/search" method="GET" class="funky-form">
        <h2>Enter your credit card details below</h2>
        <label>Card number</label>
        <input  type="text" class="form-control" placeholder="****************">
        <label>Expiry date</label>
          <input type="month" class="form-control">
        <label>CVC</label>
          <input type="text" class="form-control">
        <button value="Search" class="funky-button">Submit Payment</button>
        </div>
</form>
