<!-- <div class="funky-container" id="alert">
 <div class="flash flash-warning alert alert-dismissible fade show" role="alert">
  <span>Your booking was sent and waiting on confirmation! Check the status the <strong><a><%#= link_to "My Bookings", bookings_path %></a></strong> page</span>
  <a data-dismiss="alert" aria-label="Close">
    <i class="fas fa-times"></i>
  </a>
  </div>
</div> -->

<div class="funky-container">
  <div class="pay-form">
    <h2><%= @booking.space.name%></h2>
    <div class="funky-card-pay">
      <%= cl_image_tag @booking.space.photo %>
      <br>
      <br>
      <h6><%= @booking.start_date%></h6>
      <h6><%= @booking.start_time%></h6>
      <h6><%= @booking.hours%> hours</h6>
    </div>
    <hr>
    <div class="d-flex justify-content-between">
      <h3>Total price</h3>
      <h3>$<%= @booking.total_price%></h3>
    </div>
    <hr>
    <h5>Enter your credit card details</h5>
    <form action="#"  class="pay-form-bottom">
      <label>Card number</label>
      <input  type="text" class="form-control" placeholder="****************">
      <label>Expiry date</label>
      <input type="month" class="form-control">
      <label>CVC</label>
      <input maxlength="3" type="text" class="form-control">
      <label>Coupon code</label>
      <input type="text" class="form-control">
      <button class="funky-button-large"> "Pay now"</button>
    </form>
  </div>
  <br>
  <br>
  <script language="javascript">
    swal("Good job!", "You clicked the button!", "success");
  </script>
</div>


